/* 
	style.css 
	Written by Daigo Fujiwara (@DaigoFuji)
	Date: PUBLISHEDDATE
	use this style: http://google-styleguide.googlecode.com/svn/trunk/htmlcssguide.xml#CSS_Style_Rules
	also: http://csslint.net/ (Will hurt your feelings)
*/

/* 
	Those are already in html so no need, but just in case
	@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Stint+Ultra+Expanded");
	@import url("css/font-awesome.min.css");
*/

/* 
	Overriding foundation defaults.
	Or customize it:; http://foundation.zurb.com/download.php#customizeFoundation
*/ 

body {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
	/* font-family: 'Lora', Georgia, serif; */
}
.row {
	max-width: 75em; /*  */
}
.contain-to-grid .top-bar {
	max-width: 75em;
}
/* 
	Default Link Styles
	foundation link color is #2ba6cb hover #2795b6 
*/
a {
  color: #bbccdd;
	}
  a:hover, a:focus {
    color: #314836; 
	}
.accent {
	color: #8bad93;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway','Helvetica Neue', Helvetica, Arial, sans-serif; 
}

/* utility */

hr.spacer {
	border:none;
}


/* Header */

.masthead {
	height: 84px;
	background: #dae4ee url('../img/bbb-background.png') left top repeat-x;
	margin-bottom: 1em;
}
.site-header-container {
	height: 84px;
}
.site-title {
	margin:0;
}
#mainNav {
	height: 42px;
}
.nav-top {
	height: 47px;
}
.main-nav {
	height: 42px;
	border: none;
	padding-left:1.1em;
	padding-right:1.1em;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

}
.nav-bottom {
	height: 37px;
}
.nav-bottom .quiet {
	font-size: 13px;
	padding-top: 6px;	
}
.nav-bottom a.dark {
	color: #666;
}
#searchNav {
	height:42px;
	margin-bottom:0;
}
#searchNav form{
	margin-top:4px;
}

/* home page */

.home-callout {
	margin-bottom:2em;
	text-align: center;
} 

.home-callout h1 {
	margin-bottom:0;
}

.home-callout h3 {
	font-weight: normal;
}

.home-panels { overflow:hidden;}

.home-panels .large.button {
	font-size:inherit;
	padding:.75em 1em .3em;
	text-align: left;
}
.home-panels .card a {
	min-height: 11.625em;
}

.home-panels h4 {
	font-weight: normal;
	margin-bottom:.3em;
}



/* list align issue */

.disc > li, .square > li, .circle > li, ol > li {
    list-style-position: inside;
}

/* side bar */
.side-nav li a.button {
	color:#eee;
}

/* utility */
.quiet {
	color:#777;
}

/* footer */

footer {
	background-color: #dae4ee;
	margin-top: 100px;
	padding: 30px 0;
}
.site-footer .columns  {
	font-size: .75em; /* 12px */
}
.site-footer .columns a {
	color: #444;
}
.copyright {
}

/* 
	Media queries. 
	Always use min-width and declare mobile first, override with desktop 
*/

@media only screen and (min-width: 48em){
	/* when the topbar expands */
	.masthead {
		margin-bottom: 1.75em;
	}
	.home-callout h1 {
		font-size: 3.5em
	}
	.home-callout h3 {
		font-size: 1.75em;
	}

}

@media only screen and (min-width: 58.75em) {
	/* wider screen */
	.masthead {
		margin-bottom: 2.5em;
	}
	.home-callout h1 {
	 font-size: 4.5em
	}
	.home-callout h3 {
		font-size: 2em;
	}
}

/* I know I am breaking the "mobile first" rule, but ...*/ 
@media only screen and (max-width: 31.25em) {
	.card {
		width:100%;
	}
	.home-panels .card a {
		min-height: 0;
	}

}